 .page
{
    margin-left: 35px;
} 
.menuDisplay  {

 background-color: #2980b9;
 
 padding: 40px;

}
.menuDisplay li{

    display: inline-block;
    color: white;
    font-size: 20px;
    text-decoration:none;
   
    /* border-bottom: groove 2px black; */
    
    font-family:monospace;
    margin-left: 100px;
    text-align: center;
    font-weight: bold;
    


}

#lih
{
    margin-left: 500px;
}


.menuDisplay li a{

     
 
    text-decoration:none;
    color: white;
    /* border-bottom: groove 2px black; */
  

}

.menuDisplay li:hover{

     
 
    color:green;
    background-color: black;
  
   /* border-bottom: groove 2px black; */
   


}


/* .menuDisplay li a:hover{

     
 
     color:green;
     background-color: black;
   
    
    
 

} */

.menuDisplay li a:visited
{
    color:white
}

h2{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration:double;
    color:slategrey;
    font-variant:initial;
}


h3{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration:double;
    color:slategrey
}

div p
{

    font-size: 20px;
    font-family:  Calibri, 'Trebuchet MS', sans-serif;
}
