 .page
{
    margin-left: 35px;
} 
.menuDisplay  {

    position:-webkit-sticky;

 background-color: #2980b9;
 
 padding: 40px;

}
.menuDisplay li{
    

    display: inline-block;
    color: white;
    font-size: 20px;
    text-decoration:none;
   
    /* border-bottom: groove 2px black; */
    
    font-family:monospace;
    margin-left: 100px;
    text-align: center;
    font-weight: bold;
    


}

#lih
{
    margin-left: 500px;
}


.menuDisplay li a{

     
 
    text-decoration:none;
    color: white;
    /* border-bottom: groove 2px black; */
  

}

.menuDisplay li:hover{

     
 
    color:green;
    background-color: black;
  
   /* border-bottom: groove 2px black; */
   


}


/* .menuDisplay li a:hover{

     
 
     color:green;
     background-color: black;
   
    
    
 

} */

.menuDisplay li a:visited
{
    color:white
}

h2{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration:double;
    color:slategrey;
    font-variant:initial;
}


h3{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration:double;
    color:slategrey
}

div p
{

    font-size: 20px;
    font-family:  Calibri, 'Trebuchet MS', sans-serif;
}

#tprop
{
    font-size:20px;
     font-variant:small-caps;
     letter-spacing: 2px;
     word-wrap: break-word;
     word-spacing: 5px;
     text-align: justify;
      
}
/* 
#pos
{
    position:absolute;
    top:  300px;
    left: 100px;
    background-color: aquamarine;
      
} */

#webimg
{
    float: right;
    size: 15px;
    margin-left: 10px;
}

.about
{
    margin-left: 50px;
    width: 300px;
    font-family: 'Courier New', Courier, monospace;
    background-color: lightgrey;
    float: left;
    padding: 15px;
    margin-bottom: 10px;
    margin-right: 20px;
}
.add
{
 
   
    width: 300px;   
    clear: right    ;
    float: left;

  
    background-color: lightgrey;
    padding: 15px;
}


.dd{
background-color:lightcyan;
    margin-left: 15px; 
    width: 300px;
    
     float: left;
     padding: 10px;
}